* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  /* margin: 0; */
  font-family: Helvetica, arial, sans-serif;
}

.octocat {
  width: 31%;
  display: inline-block;
  float: left;
  margin: 10px;
}

.octocat>a>img {
  border: 1px solid grey;
}

.authors {
  display: inline-block;
  float: right;
  vertical-align: middle;
}

.authors>li>a {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
}

.image-footer {
  position: relative;
}

.image-caption {
  text-align: right;
  right: 0;
  color: grey;
  position: absolute;
  border-bottom: thin solid grey;
  width: 100%;
  height: auto;
  display: inline-block;
}

.image-caption>a {
  text-decoration: none;
  color: black;
}

.image-number {
  color: grey;
}

.image-number::before {
  content: "#";
}