* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  /* margin: 0; */
  font-family: Helvetica, arial, sans-serif;
}

.octocat {
  width: 33%;
  display: inline-block;
  float: left;
  border: 1px solid grey;
  padding: ;
}

.authors {
  width: 15%;
  display: inline-block;
}

.author>ul>li {
  display: inline-block;
}

.image-footer {
  position: relative;
}

.image-caption {
  color: grey;
  position: absolute;
  border-bottom: 1px solid grey;
}

.image-number {
  position: relative;
  color: grey
}

.image-number::before {
  content: "#";
}