* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  /* margin: 0; */
  font-family: Helvetica, arial, sans-serif;
}

/* brings cats into a line and puts space between the borders  */

.octocat {
  width: 31%;
  display: inline-block;
  /* margin: 10px; */
}

/* puts border around cats  */

.octocat>a {
  border: 1px solid #CACACA;
  border-radius: 5px;
  position: relative;
  display: inline-block;
}

.octocat>a::after {
  content: "";
  height: 0;
  width: 0;
  border-top: solid 10px #CACACA;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  position: absolute;
  right: 1%;
  top: 100%;
}

.authors {
  list-style-type: none;
  display: inline-block;
  float: right;
  margin-left: -34px;
  margin-top: -2px;
}

.authors>li>a {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
}

.authors>li>a>img {
  border-radius: 5px;
}

.image-footer {
  position: relative;
  top: 15px;
}

.image-caption {
  text-align: right;
  right: 0;
  color: #CACACA;
  position: absolute;
  border-bottom: thin solid #CACACA;
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.image-caption>a {
  text-decoration: none;
  color: #333333;
  display: inline-block;
  font-weight: bold;
  font-size: 10pt;
}

/* style of "the" and "by" */

.image-caption>span {
  color: #777A85;
  font-weight: bold;
  font-size: 10pt;
}

.image-number {
  color: #CACACA;
  display: inline-block;
  top: 2px;
}

/* adds # sign before image numbers */

.image-number::before {
  content: "#";
}